<template>
  <div>
      <h1 class="display-3 mb-6">About</h1>
      

      <v-row
        align-content="center"
        justify="left"
      >
      
        <h2 class="mb-6">A project by Chris Bauer</h2>
        <p>Thanks to the <a href="https://gitlab.com/openpowerlifting/ipf-points-calculator">IPF Points Calculator</a> by the wonderful people at <a href="openpowerlifting.org">OpenPowerlifting.org</a>.</p>

      </v-row>

  </div>
</template>

<script>
  export default {
    name: "About",
    data: function() {
      return {

      }
    },
    methods: {

    },
    watch: {

    },
  }
</script>
