<template>
  <div>
      <h1 class="display-3 mb-6">Converter</h1>
      
      <v-form
        ref="form"
        v-model="valid"
        :lazy-validation="lazy"
      >
      <v-row
        align="start"
        justify="left"
      >
      
      <v-col class="shrink" align-self="start" md="4" cols="6">
        <v-text-field
          v-model.lazy="kilograms"
          hide-details
          type="number"
          label="Kilos"
          clearable
          outlined
        ></v-text-field>
      </v-col>
      <v-col class="shrink" align-self="start" md="4" cols="6">
        <v-text-field
          v-model.lazy="pounds"
          hide-details
          type="number"
          label="Pounds"
          clearable
          outlined
        ></v-text-field>
      
      </v-col>
      </v-row>
      </v-form>
  </div>
</template>

<script>
  export default {
    name: "Converter",
    data: function() {
      return {
        kilograms: '',
        pounds: '',
      }
    },
    methods: {

    },
    watch: {
      kilograms: function() {
        this.pounds = Math.round((this.kilograms*2.20)*10)/10;
      },
      pounds: function() {
        this.kilograms = Math.round((this.pounds/2.20)*10)/10;
      },
    },
  }
</script>
