<template>
        
  <div>
    <h1 class="display-3 mb-6">Points</h1>
      <v-form
        ref="form"
      >
        <h2 class="display-2 font-weight-bold">{{ calcPoints() }}</h2>
        <v-radio-group v-model="sex" row>
          <v-radio label="Male" value="M"></v-radio>
          <v-radio label="Female" value="F"></v-radio>
        </v-radio-group>

        <v-radio-group v-model="units" row>
          <v-radio label="Freedom Units (lbs)" value="lbs"></v-radio>
          <v-radio label="Commie Units (kgs)" value="kgs"></v-radio>
        </v-radio-group>

        <v-radio-group v-model="equipment" row>
          <v-radio label="Raw" value="Raw"></v-radio>
          <v-radio label="Single-ply (cheaty)" value="Single-ply"></v-radio>
        </v-radio-group>

        <v-radio-group v-model="event" row>
          <v-radio label="SBD" value="SBD"></v-radio>
          <v-radio label="Bench Only" value="B"></v-radio>
        </v-radio-group>

        <v-row
          align="start"

        >
          <v-col class="shrink" align-self="start" md="4" cols="6">
            <v-text-field
              v-model="liftedWeight"
              type="number"
              label="Lifted Weight"
              outlined
              :suffix="units"
            ></v-text-field>
          </v-col>

          <v-col class="shrink" align-self="start"  md="4" cols="6">
            <v-text-field
              v-model="bodyWeight"
              hide-details
              type="number"
              label="Bodyweight"
              outlined
              :suffix="units"
            ></v-text-field>
          </v-col>
        </v-row>
      </v-form>
  </div>
</template>

<script>
export default {
  name: 'Wilks',
  data: function() {
    return {
      bodyWeight: null,
      liftedWeight: null,
      sex: 'M',
      units: 'lbs',
      equipment: 'Raw',
      event: 'SBD',
    }
  },
  methods: {
      calcPoints() {
        var PARAMETERS = {
            "M": {
              "Raw": {
                "SBD": [1199.72839, 1025.18162, 0.009210],
                "B": [320.98041, 281.40258, 0.01008]
              },
              "Single-ply": {
                "SBD": [1236.25115, 1449.21864, 0.01644],
                "B": [381.22073, 733.79378, 0.02398]
              }
            },
            "F": {
              "Raw": {
                "SBD": [610.32796, 1045.59282, 0.03048],
                "B": [142.40398, 442.52671, 0.04724]
              },
              "Single-ply": {
                "SBD": [758.63878, 949.31382, 0.02435],
                "B": [221.82209, 357.00377, 0.02937]
              }
            }
          };

        var bodyweightKG = this.units == 'lbs' ? this.bodyWeight * .453 : this.bodyWeight;
        var liftedweightKG = this.units == 'lbs' ? this.liftedWeight * .453 : this.liftedWeight;

        var params = PARAMETERS[this.sex][this.equipment][this.event];
        var denom = params[0] - (params[1] * Math.exp(-1 * params[2] * bodyweightKG));
        var glp = (denom === 0) ? 0 : Math.max(0, liftedweightKG * 100 / denom);
        if (this.bodyweightKG < 35) {
          glp = 0;
        }
        
        return Math.round(glp);
      }
    }
};
</script>