<template>
        
  <div>
    <h1 class="display-3 mb-6">Wilks</h1>
      <v-form
        ref="form"
        v-model="valid"
        :lazy-validation="
        lazy"
      >
        <h2 class="display-2 font-weight-bold">{{ calcWilks() }}</h2>
        <v-radio-group v-model="sex" row>
          <v-radio label="Male" value="male"></v-radio>
          <v-radio label="Female" value="female"></v-radio>
        </v-radio-group>

        <v-radio-group v-model="units" row>
          <v-radio label="Freedom Units (lbs)" value="lbs"></v-radio>
          <v-radio label="Commie Units (kgs)" value="kgs"></v-radio>
        </v-radio-group>

        <v-row
          align="start"
          justify="left"
        >
          <v-col class="shrink" align-self="start" md="4" cols="6">
            <v-text-field
              v-model="liftedWeight"
              type="number"
              label="Lifted Weight"
              clearable
              outlined
              :suffix="units"
            ></v-text-field>
          </v-col>

          <v-col class="shrink" align-self="start"  md="4" cols="6">
            <v-text-field
              v-model="bodyWeight"
              hide-details
              type="number"
              label="Bodyweight"
              clearable
              outlined
              :suffix="units"
            ></v-text-field>
          </v-col>
        </v-row>
      </v-form>
  </div>
</template>

<script>
export default {
  name: 'Wilks',
  data: function() {
    return {
        bodyWeight: '',
        liftedWeight: '',
        sex: 'male',
        units: 'pounds',
        bodyweightKG: '',
        liftedweightKG: '',
    }
  },
  methods: {
      calcWilks() {
        var aMens = -216.0475144;
        var bMens = 16.2606339;
        var cMens = -.002388645;
        var dMens = -.00113732;
        var eMens = 0.00000701863;
        var fMens = -0.00000001291;

        var aWomens = 594.31747775582;
        var bWomens = -27.23842536447;
        var cWomens = .82112226871;
        var dWomens = -.00930733913;
        var eWomens = .00004731582;
        var fWomens = -.00000009054;

        var bodyweightKG = this.units == 'pounds' ? this.bodyWeight * .453 : this.bodyWeight;
        var liftedweightKG = this.units == 'pounds' ? this.liftedWeight * .453 : this.liftedWeight;

        var b2 = bodyweightKG;
        var c2 = Math.pow(bodyweightKG, 2);
        var d2 = Math.pow(bodyweightKG, 3);
        var e2 = Math.pow(bodyweightKG, 4);
        var f2 = Math.pow(bodyweightKG, 5);

        if (this.sex == 'female') {
          var denominator = aWomens + (bWomens*b2) + (cWomens*c2) + (dWomens*d2) + (eWomens*e2) + (fWomens*f2);
        } else if (this.sex == 'male') {
          denominator = aMens + (bMens*b2) + (cMens*c2) + (dMens*d2) + (eMens*e2) + (fMens*f2);
        } else {
          return 'This is to be inclusive.';
        }

        var coeff = 500 / denominator;
        var wilks = Math.round(coeff*liftedweightKG);

        return wilks;
      }
    }
};
</script>