<template>
  <v-app id="app">
    <v-navigation-drawer
      v-model="drawer"
      app
    >
      <v-list>
          <v-list-item link :to="{ path: '/' }">
            <v-list-item-action>
              <v-icon>mdi-forward</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              Converter
            </v-list-item-content>
          </v-list-item>
          <v-list-item link :to="{ name: 'Wilks' }">
            <v-list-item-action>
              <v-icon>mdi-dumbbell</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              Wilks
            </v-list-item-content>
          </v-list-item>
          <v-list-item link :to="{ name: 'Points' }">
            <v-list-item-action>
              <v-icon>mdi-dumbbell</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              Points
            </v-list-item-content>
          </v-list-item>
          <v-list-item link :to="{ name: 'About' }">
            <v-list-item-action>
              <v-icon>mdi-help</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              About
            </v-list-item-content>
          </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar
      app
      clipped-left
      class="primary"

    >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <v-toolbar-title>WeakTools</v-toolbar-title>
    </v-app-bar>

    <v-content>
      <v-container
        fluid
      >
       <v-col cols="12">
        <router-view></router-view>
       </v-col>
      </v-container>
    </v-content>

  </v-app>
</template>

<script>
export default {
  name: 'App',

  components: {

  },


  data: () => ({
    drawer: null,
  }),

  created () {

  },
};
</script>
